# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

<b>Objectives:</b>

* List popular languages for Data Science
* List popular libraries for Data Science
* Introduce arithmetic expression examples
* Convert minutes to hours

Some of the most popular and useful languages that Data Scientists frequently use are:

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. Spark

Some of the commonly used libraries that Data Scientists frequently use are:

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-Learn
6. Keras
7. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [18]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 6

In [21]:
200/60

3.3333333333333335

## Author:
Agustin